<ion-toolbar>
  <ion-title>AnimeChain</ion-title>
  <ion-buttons slot="end">
    <ion-button fill="clear" color="primary" routerLink="/login">Enter</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="home">
  <div class="main-text">
    <h1>Welcome to</h1>
    <p class="brand-name">AnimeChain</p>
    <p>Elevate your anime journey with unique NFTs, quizzes, and community engagement.</p>
    <ion-button fill="clear" routerLink="/register">Start Now <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
  </div>
</ion-content>
