<ion-toolbar>
  <ion-title>SignUp3</ion-title>
  <ion-buttons slot="end">
    <ion-button fill="clear" color="primary" routerLink="/login">Enter</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="home">
  <div class="main-text">
    <h1>Welcome to</h1>
    <p class="brand-name">SignUp3</p>
    <p>Discover the Evolution of User Registration in Apps in the New Web3 Era</p>
    <ion-button fill="clear" routerLink="/register">Start Now <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>

  </div>
</ion-content>